#section2{
    display:flex;
   
    width: 40%;
    background-color: cornsilk;
    justify-content:center;
    border:5px solid black;
    margin:0 auto;
    padding: 20px;

}
input{
    width: 345px;
    height:30px;
}
td{
    padding: 5px;
    
    vertical-align:30px;
}
body{
    background: url('4.jpg');
}